@font-face {
  font-family: times;
  src: url(../assets/fonts/times.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-color: #f0f0f2;
  --bg-color1: #ffffff;
  --bg-color2: #6e6e6e;
  --bg-color3: #88888888;
  --text-color1: #000000;
  --text-color2: #37f8e8;
  --text-color3: #ffffffec;
}
body {
  font-family: times;
  background-color: var(--body-color);
}
.container {
  width: 800px;
  margin: auto;
}
/* box1 start */
.box1 {
  height: 320px;
  width: 800px;
  background-color: var(--bg-color1);
  margin: 50px 0px;
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 0.7px 0px #0000004f;
}
.box1 h1 {
  font-size: 40px;
  font-weight: 700;
  margin: 27px 0px;
  color: var(--text-color1);
}
.box1 p {
  font-size: 20px;
  font-weight: 300;
  margin: 20px 0px;
}
.box1 span {
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
}
/* bo1 ended */

/* box2 start */
.box2 {
  color: white;
  height: 420px;
  width: 800px;
  padding: 20px 0px 0px 0px;
  margin-bottom: 50px;
  border-radius: 5px;
  background-color: var(--bg-color1);
  overflow: hidden;
  background-image: url(../assets/images/grandma.gif),
    url(../assets/images/grandchil.gif), url(../assets/images/rain.gif),
    url(../assets/images/giphy_road.gif), url(../assets/images/bg1.jpg);
  background-size: 160px, 120px, cover, 100% 150px, cover;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: right bottom, 100px bottom, center center, center bottom,
    center center;
  box-shadow: 0px 0px 0.7px 0px #0000004f;
}
.box2 .txt {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box2 .txt h1 {
  text-align: center;
  color: var(--text-color3);
  padding: 20px;
  background-color: var(--bg-color3);
  border-radius: 5px;
}
/* Box2 ended */

/* box3 start */
.box3{
    height: 420px;
    width: 800px;
    margin-bottom: 50px;
    padding: 20px;
    background-color: var(--bg-color1);
    border-radius: 5px;
    background-image: url(../assets/images/bg1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0px 0px 0.7px 0px #0000004f;
}
.box3 h1{
    text-align: left;
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color2);
    margin: 27px 0px;

}
.box3 .box-child{
    height: 280px;
    width: 760px;
    background-color: var(--bg-color3);
    border-radius: 5px;
    color: var(--text-color3);
    padding: 5px;
    box-shadow: 0px 0px 0.7px 0px #0000004f;
}
.box3 .box-child p{
    text-indent: 20px;
    font-size: 18px;
    font-weight: 300;
}